.l-neglect {
    display: contents;
}
.l-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.l-layer-up {
    position: relative;
    z-index: 1;
}
.l-flex, %l-flex {
    display: flex;
}
.l-flex-column {
    @extend %l-flex;
    flex-direction: column;
}
.l-centralize-2d {
    @extend %l-flex;
    align-items: center;
    justify-content: center;
}
.l-align-y {
    @extend %l-flex;
    align-items: center;
}
.l-align-x {
    @extend %l-flex;
    justify-content: center;
}
.l-align-top {
    @extend %l-flex;
    align-items: flex-start;
}
.l-align-bottom {
    @extend %l-flex;
    align-items: flex-end;
}
.l-overflow-auto {
    overflow: auto;
}
.l-auto {
    margin-left: auto;
    margin-right: auto;
}
.l-cellSpread {
    flex-grow: 1;
}
.l-cellSpread-x {
    width: 0;
    flex-grow: 1;
}
.l-cellSpread-y {
    height: 0;
    flex-grow: 1;
}
