$fw-thin: 100;
$fw-regular: 400;
$fw-bold: 600;

html {
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-bold: 600;
}

strong, b {
    font-weight: var(--fw-bold);
}
.ta-center {
    text-align: center;;
}
.fw-thin {
    font-weight: $fw-thin;
}