.t-box {
    padding: $pad-med;
}
.t-marginEnd {
    margin-inline-end: $pad;
}
.t-marginEnd-big {
    margin-inline-end: $pad-big;
}
.t-marginStart {
    margin-inline-start: $pad;
}
.t-marginStart-big {
    margin-inline-start: $pad-big;
}
.t-row-0 {
    margin-bottom: 0;
}
.t-row {
    margin-bottom: $pad;
}
.t-row-med {
    margin-bottom: $pad-med;
}
.t-row-big {
    margin-bottom: $pad-big;
}