.b-backgroundMap__map {
    width: 100%;
    height: 100%;
    filter: blur(1px) saturate(30%);
}
.b-backgroundMap__colorOverlay {
    opacity: 0.8;
    background-color: #fff;
    transition: background-color 600ms ease-out;
    filter: brightness(190%) contrast(110%);
}