.b-favorites {
    background-color: var(--c-main);
    color: #fff;
    transition: background-color 800ms ease-out;
}
.b-favorites__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $pad-big;
    color: inherit;
    text-decoration: none;
    border-inline-end: 1px solid;
}