.b-locationSearch {
    height: 20vh;
    transition: height 600ms ease-out;
    &:focus-within {
        height: 27vh;
    }
}
.b-locationSearch__searchWrap {
    position: relative;
    max-width: 80vw;
    width: 800 / 40 * 1em;
    padding: $pad;
    border: 1px solid #eae8e8;
    background:rgba(#fff,0.5);
    border-radius: 500px;
    font-size: em(40);
    &:focus-within {
        box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.2);;
    }
}
.b-locationSearch__search {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: inherit;
    &::placeholder {
        opacity: 0.4;
    }
    &:focus {
        outline: none;
        &::placeholder {
            opacity: 0.8;
        }
    }
}
