%darken {
    filter: brightness(80%);
}
.b-weatherDisplay {
    min-height: 100%;
    box-shadow: 0px 0px 21px 0px rgba(38, 38, 38, 0.4);
    transition: color 800ms ease-out;
}
.b-weatherDisplay__welcomeMessage {
    font-size: em(40);
    text-align: center;
    color: var(--c-main);
    font-weight: inherit;
    span {
        display: block;
    }
}
.b-weatherDisplay__welcomeMessage__big {
    margin: 0 0 0.05em;
    font-weight: var(--fw-thin);
    font-size: em(45);
    line-height: .8em;
    letter-spacing: -0.03em;
}
.b-weatherDisplay__welcomeMessage__small {
    line-height: .8em;
    font-weight: var(--fw-regular);
    letter-spacing: 0.03em;
}


.b-weatherDisplay__header {
    font-size: 1.4vh;
    .b-locationSearch {
        height: auto;
        padding: 0;
    }
    .b-locationSearch__searchWrap {
        width: em(220);
        height: auto;
        padding: $pad;
        font-size: inherit;
    }
    .b-locationSearch__search::placeholder {
        color: inherit;
    }
}
.b-weatherDisplay__locationName {
    font-size: em(90);
    line-height: .9;
    margin: 0 0 10 / 90 * 1em;
    font-weight: var(--fw-regular);
    // @extend %darken;
}
.b-weatherDisplay__temperature {
    font-size: em(154);
    letter-spacing: -0.08em;
    font-weight: var(--fw-thin);
    // @extend %darken;
}
.b-weatherDisplay__summary {
    font-weight: var(--fw-regular);
    font-size: em(30);
    // @extend %darken;
}
.b-weatherDisplay__icon {
    width: em(180);
    height: em(180);
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 21px 0px rgba(38, 38, 38, 0.4);
    img {
        width: 100%;
    }
}
.b-weatherDisplay__dailyList {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    gap: $pad;
    overflow: auto;
    background-color: rgba(#263238, 0.8);
    color: #fff;
}
.b-weatherDisplay__icon--smaller {
    width: em(90);
    height: em(90);
}
.b-weatherDisplay__time {
    font-weight: var(--fw-bold);
}

