$em: 14 * 1em;
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './src/css/variables.scss';
@import './src/css/normalize.scss';
@import './src/css/blocks/mainPanel.scss';
@import './src/css/blocks/backgroundMap.scss';
@import './src/css/blocks/locationSearch.scss';
@import './src/css/blocks/weatherDisplay.scss';
@import './src/css/blocks/favorites.scss';
@import './src/css/layout.scss';
@import './src/css/dimensions.scss';
@import './src/css/typography.scss';
@import './src/css/colors.scss';
@import './src/css/white-space.scss';
body, html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-size: $fs-base * 1px;
    font-family: 'Heebo', sans-serif;
    font-weight: $fw-regular;
    line-height: 1.3;
}
@media (max-width:1100px){
    body {
        font-size:1.26vw;
    }
}

// * {outline:1px dotted darkred}